<div class="page-header">
  <h1>Events<small>list of up coming events</small></h1>
</div>

<table class="table table-striped events-table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Start Time</th>
      <th>Venue</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <% if event.images.any? %>
          <td class="event_image"><%= image_tag(File.join('https://',event.images.first.image_url)) %></td>
        <% else %>
          <td class="event_image"><%= image_tag("rails.png") %></td>
        <% end %>
        <td><%= event.title %></td>
        <td><%= event.start_time.strftime('%m/%d/%Y') %></td>
        <td><%= Venue.find(event.venue_id).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @events %>