
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Emba Evvnt Challenge</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <div class="container">

      <div class="row">
        <div class="span9" id="main_content">
          <%= render partial: "shared/flash_messages", flash: flash %>
          <%= yield %>
        </div>

        <div class="span3">
          <%= render partial: 'shared/sidebar', locals: {min_date: @min_date.strftime("%d/%m/%Y"), max_date: @max_date.strftime("%d/%m/%Y"), venues: @venues } %>
        </div><!--/span-->
      </div><!--/row-->
    </div> <!-- /container -->
  </body>
</html>
